<%= stylesheet_link_tag "application" %>
<div class="smart-green">
  <h1>Editar o líder</h1>

  <%= render 'form', leader: @leader %>
  <a href='/leaders'><span class="button-back">Voltar</span></a>
</div>

