<%= stylesheet_link_tag "application" %>
<div class="smart-green">
  <h1>Editar o funcionário</h1>

  <%= render 'form', employee: @employee %>
  <a href='/employees'><span class="button-back">Voltar</span></a>
</div>

