<%= stylesheet_link_tag "application" %>
<div class="smart-green">
  <h1>Editar o coordenador</h1>

  <%= render 'form', coordinator: @coordinator %>
  <a href='/coordinators'><span class="button-back">Voltar</span></a>
</div>

