<%= stylesheet_link_tag "application" %>
<div class="smart-green">
  <h1>Editar a empresa</h1>

  <%= render 'form', company: @company %>
  <a href='/companies'><span class="button-back">Voltar</span></a>
</div>

