<%= stylesheet_link_tag "application" %>
<div class="smart-green">
  <h1>Editar o fundador</h1>

  <%= render 'form', foundator: @foundator %>
  <a href='/foundators'><span class="button-back">Voltar</span></a>
</div>

